<div class="top-container">
  <div class="main">
    <h1 class="strong">Keep and Share</h1>
    <h4>留学中に見つけた素敵な場所をみんなで共有しょう</h4>
  <div class="guest-login">
     <%= link_to "ゲストログイン", top_guest_sign_in_path, class: 'post btn btn-secondary', method: :post  %>
  </div>
  <div class="button">
    <%= link_to "ログイン", user_session_path, class: 'post btn btn-primary mr-5' %>
    <%= link_to "会員登録", new_user_registration_path, class: 'post btn btn-success ml-5' %>
  </div>
  </div>
</div>
 
  
  